In [6]:
# Create a practice set of random latitude and longitude combinations.
lats = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
lngs = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
lat_lngs = zip(lats, lngs)

In [9]:
# Add the latitudes and longitudes to a list.
coordinates = zip(lat_lngs)

In [10]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [14]:
coordinates = list(lat_lngs)

In [15]:
# Use the print() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

parvatsar in
punta arenas cl
saint george bm

In [17]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [28]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=a7eb641ea961b93bc937a0b8ecca1f38

In [29]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=a7eb641ea961b93bc937a0b8ecca1f38&q=Boston

In [30]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url)
city_weather

In [31]:
city_weather.status_code

200

In [32]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Bston"
city_weather = requests.get(city_url)
city_weather

In [33]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather

In [34]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-71.0598,"lat":42.3584},"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02n"}],"base":"stations","main":{"temp":47.23,"feels_like":45.23,"temp_min":40.57,"temp_max":53.55,"pressure":1021,"humidity":66},"visibility":10000,"wind":{"speed":4.61,"deg":230},"clouds":{"all":20},"dt":1667180426,"sys":{"type":2,"id":2013408,"country":"US","sunrise":1667128496,"sunset":1667166041},"timezone":-14400,"id":4930956,"name":"Boston","cod":200}'

In [35]:
# Get the JSON text of the 'Get' request.
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 47.23,
  'feels_like': 45.23,
  'temp_min': 40.57,
  'temp_max': 53.55,
  'pressure': 1021,
  'humidity': 66},
 'visibility': 10000,
 'wind': {'speed': 4.61, 'deg': 230},
 'clouds': {'all': 20},
 'dt': 1667180426,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1667128496,
  'sunset': 1667166041},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [36]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [38]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [39]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 45.7,
  'feels_like': 42.69,
  'temp_min': 39.15,
  'temp_max': 52.25,
  'pressure': 1021,
  'humidity': 70},
 'visibility': 10000,
 'wind': {'speed': 5.75, 'deg': 200},
 'clouds': {'all': 20},
 'dt': 1667184746,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1667128496,
  'sunset': 1667166041},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [40]:
# Get the JSON data.
boston_data = city_weather.json()

In [41]:
boston_data['sys']

{'type': 2,
 'id': 2013408,
 'country': 'US',
 'sunrise': 1667128496,
 'sunset': 1667166041}

In [42]:
boston_data['sys']["country"]

'US'

In [43]:
boston_data["dt"]

1667184746

In [48]:
boston_data["coord"]["lat"]

42.3584

In [50]:
boston_data["main"]["temp_max"]

52.25

In [51]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 52.25 70 20 5.75

In [52]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date)

datetime.datetime(2022, 10, 31, 2, 52, 26)

In [53]:
datetime.utcfromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S')

'2022-10-31 02:52:26'

In [60]:
# Import initial libraries
import numpy as np
import pandas as pd
from citipy import citipy

In [61]:
# Create a set of random latitude and longitude combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=50)
lngs = np.random.uniform(low=-180.000, high=180.000, size=50)

# Use the zip function to create an iterator of tuples containing the latitude and longitude combinations
lat_lngs = zip(lats, lngs)
lat_lngs

In [62]:
# Add the latitudes and longitudes to a list
coordinates = list(lat_lngs)
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

26.553171602535414 -174.54479374382998
-40.21544840934412 -105.13468908898649
30.08491467283946 114.62121945040889
-61.86771871499533 74.32711341072948
-54.91436100943636 -160.21664119814798
67.7422208911976 78.18754262277815
42.78024128432068 139.775184675378
-48.84372079131649 -14.155244963577985
-19.126608182121245 11.59847456476416
-51.740616507499304 -76.67880779904814
87.12817047586663 131.8107430500378
10.83991705775594 -40.51823885999801
-14.768383017445302 118.79786517914488
-11.479861472233367 164.90562675216427
42.14965927939454 0.5506582284863271
-40.61538424177181 121.33389354101155
-6.446776871951911 73.18973956305297
-2.9405718324519228 -155.60148658105524
-60.09675049653151 25.154913800056107
-62.32384233896256 -87.18730157814637
-77.46116462647947 66.5953770824369
-85.1997457026391 5.106896119920748
-44.451845640012735 -79.01190878034909
59.259282292313 54.80894546565051
-14.533250100337426 -79.9245301528285
24.72187408457127 -20.74365265708994
-64.38973649864946 155.70330669770698
-58.821265662558034 -29.435766666170537
-88.65344736353946 173.90379953161477
17.34093068938624 -46.510273591993126
52.08257531011279 -36.82448690228077
-75.95398597153049 -12.965103289135925
-1.2284284176670894 166.88018041502306
54.348574237603685 -72.7883878149734
-50.56698596308583 166.3028353249814
-51.23002161595837 103.48495084608925
7.421970576369745 -12.764447653615235
32.77102630337386 135.89980438527107
-78.70460880004961 -54.60992466045944
-82.8313476511024 -37.7128621887025
52.80736551704291 -144.02810488293886
-46.465787435742676 134.97978955375777
44.089174487754065 -39.38296006608343
4.886085416752209 -115.23284541518973
88.11466526737073 -110.36153827778445
25.673542081276565 -170.3488865577867
-41.95119661917229 177.35966598543973
-29.399765575517293 35.98090648633806
16.31528164810169 -115.57357626580702
89.8385216781426 45.06387503240032

In [63]:
# Create an empty list for holding the cities
cities = []

# Use a for loop to identify nearest city for each latitude and longitude combination using the citipy module
for coordinate in coordinates:
    # Use the citipy module to identify the nearest city to the current coordinate
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

45

In [64]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [65]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | kapaa
Processing Record 2 of Set 1 | ancud
Processing Record 3 of Set 1 | daye
Processing Record 4 of Set 1 | saint-philippe
Processing Record 5 of Set 1 | mataura
Processing Record 6 of Set 1 | tazovskiy
Processing Record 7 of Set 1 | iwanai
Processing Record 8 of Set 1 | jamestown
Processing Record 9 of Set 1 | opuwo
Processing Record 10 of Set 1 | punta arenas
Processing Record 11 of Set 1 | tiksi
Processing Record 12 of Set 1 | cayenne
Processing Record 13 of Set 1 | broome
Processing Record 14 of Set 1 | lata
Processing Record 15 of Set 1 | monzon
Processing Record 16 of Set 1 | albany
Processing Record 17 of Set 1 | hithadhoo
Processing Record 18 of Set 1 | faanui
Processing Record 19 of Set 1 | bredasdorp
Processing Record 20 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 21 of Set 1 | hermanus
Processing Record 22 of Set 1 | castro
Processing Record 23 of Set 1 | kudymkar
Processing Record 24 of Set 1 | chilca
Processing Record 25 of Set 1 | los llanos de aridane
Processing Record 26 of Set 1 | bluff
Processing Record 27 of Set 1 | chuy
Processing Record 28 of Set 1 | sinnamary
Processing Record 29 of Set 1 | nanortalik
Processing Record 30 of Set 1 | cape town
Processing Record 31 of Set 1 | tabiauea
City not found. Skipping...
Processing Record 32 of Set 1 | chapais
Processing Record 33 of Set 1 | busselton
Processing Record 34 of Set 1 | bonthe
Processing Record 35 of Set 1 | shingu
Processing Record 36 of Set 1 | ushuaia
Processing Record 37 of Set 1 | sitka
Processing Record 38 of Set 1 | mount gambier
Processing Record 39 of Set 1 | ribeira grande
Processing Record 40 of Set 1 | san patricio
Processing Record 41 of Set 1 | yellowknife
Processing Record 42 of Set 1 | waipawa
Processing Record 43 of Set 1 | richards bay
Processing Record 44 of Set 1 | cabo san lucas
Processing Record 45 of Set 1 | belushya guba
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [66]:
len(city_data)

42

In [67]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.0752,-159.3190,81.10,75,40,17.27,US,2022-11-01 18:48:17
1,Ancud,-41.8697,-73.8203,60.22,54,0,4.45,CL,2022-11-01 18:48:18
2,Daye,30.0833,114.9500,58.78,70,0,5.14,CN,2022-11-01 18:48:18
3,Saint-Philippe,-21.3585,55.7679,72.99,83,1,7.61,RE,2022-11-01 18:48:18
4,Mataura,-46.1927,168.8643,59.38,66,0,6.73,NZ,2022-11-01 18:48:19
5,Tazovskiy,67.4667,78.7000,23.22,91,97,14.29,RU,2022-11-01 18:48:19
6,Iwanai,42.9744,140.5089,48.99,85,100,9.84,JP,2022-11-01 18:48:20
7,Jamestown,42.0970,-79.2353,59.02,94,100,8.05,US,2022-11-01 18:44:16
8,Opuwo,-18.0607,13.8400,80.92,26,13,10.00,NA,2022-11-01 18:48:20
9,Punta Arenas,-53.1500,-70.9167,57.31,33,0,24.16,CL,2022-11-01 18:45:03

In [69]:
city_data_df = city_data_df[["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Kapaa,US,2022-11-01 18:48:17,22.0752,-159.3190,81.10,75,40,17.27
1,Ancud,CL,2022-11-01 18:48:18,-41.8697,-73.8203,60.22,54,0,4.45
2,Daye,CN,2022-11-01 18:48:18,30.0833,114.9500,58.78,70,0,5.14
3,Saint-Philippe,RE,2022-11-01 18:48:18,-21.3585,55.7679,72.99,83,1,7.61
4,Mataura,NZ,2022-11-01 18:48:19,-46.1927,168.8643,59.38,66,0,6.73
5,Tazovskiy,RU,2022-11-01 18:48:19,67.4667,78.7000,23.22,91,97,14.29
6,Iwanai,JP,2022-11-01 18:48:20,42.9744,140.5089,48.99,85,100,9.84
7,Jamestown,US,2022-11-01 18:44:16,42.0970,-79.2353,59.02,94,100,8.05
8,Opuwo,NA,2022-11-01 18:48:20,-18.0607,13.8400,80.92,26,13,10.00
9,Punta Arenas,CL,2022-11-01 18:45:03,-53.1500,-70.9167,57.31,33,0,24.16

In [71]:
# Create the output file (CSV).
output_data_file = "weather_Database/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")